<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= (typeof title !== 'undefined' ? title : 'Drawman') %></title>
</head>
<body>
	<script><%- (typeof script !== 'undefined' ? script : '') %></script>
	<div id="content"></div>
	<div id="background"></div>
	<script src="/vendor.bundle.js"></script>
	<% if (typeof hot !== 'undefined' && hot) { %>
		<script src="/bundle.js"></script>
	<% } %>
</body>
</html>
