@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html, body, #content, #background {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#background {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  background: linear-gradient(180deg, #a0a1c1, #adb6c1);
}

* {
  font-family: 'Open Sans';
}

